body{
    font-family:normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}
label{
    color:darkblue;
}
.user{
    border-style: double;
    padding: 50px 100px;
    background-color:bisque;
    border-radius: 10px;
    
}
.recp1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   

    

